SUPABASE_URL=https://supabase.kenomi.eu
SUPABASE_SERVICE_ROLE_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJzdXBhYmFzZSIsImlhdCI6MTc3ODY2NDYwMCwiZXhwIjo0OTM0MzM4MjAwLCJyb2xlIjoic2VydmljZV9yb2xlIn0.XEGcK-cecUeGfwI9Tvo9Cwt31QXrI954nU6tI5gKiCc
